.search-input {
  background-color: var(--theme);
  height          : 90rpx;
  padding         : 10rpx;

  .navigator {
    background-color: #fff;
    height          : 100%;
    border-radius   : 15rpx;
    display         : flex;
    align-items     : center;
    justify-content : center;
    color           : #999;
  }
}